* margin: {
  box-sizing:border-box;
}

body {
  line-height: 1.5;
  background: #dcdcdc;
  background-image: url("../images/hoffman.png");
}

#wrap {
  height: inherit;
  margin: 0px 10%;
  background: #ffffff;
  padding: .1% 10% 30% 10% ;
  background-color: #ffffff;
  box-shadow: 0px 5px 0px 5px #FF8542;
  border-radius: 12em;

}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 5em;
}

/**div.questions{
  display: none;
}**/

div.xx{
  display: none
}

h3 {
  position: fixed;
  float: right;
  background-color: #dddddd;
  padding: .5em 1em .5em 1em;
  margin-left: 50%;
  margin-right: 70%;
}

#timer {
  color: #ff0000;
  font-weight: 900;
  font-size: 1.3em;
  position: fixed;
  float: right;
  background-color: #dddddd;
  padding: .5em .75em .5em .8em;
  margin: -3.3% 70% 90% 50%;
}

#start {
  border: 1em;
}

#submit {
  display: block;
  border: 1em;
  margin-top: 1em;
}

.next {
  display: block;
  border: 1em;
  margin-top: 1em;
}

#finish{
  display: block;
  border: 1em;
  margin-top: 1em;
}

input {
  display: inline;
}
div .abc {
  display: inline-table;
}

div .right{
  display: none;
}

div .wrong{
  display: none;
}
