* margin: { /* isnt this a syntax error? */
  box-sizing:border-box;
}

body {
  line-height: 1.5;
  background: #dcdcdc;
  background-image: url("../images/hoffman.png");
}

#wrap {
  height: inherit;
  margin: 0px 10%;
  background: #ffffff;
  padding: .1% 10% 30% 10% ; /* the .1 here seems like it could cause problems in the future. */
  background-color: #ffffff;
  box-shadow: 0px 5px 0px 5px #FF8542;
  border-radius: 10em;

}

h1 {
  font-family: 'Pacifico', cursive; /* excellent job providing a fallback font! */
  font-size: 5em;
  text-shadow: 3px 5px  #FF8542;
}

div.xx{
  display: none
}

h3 {
  position: fixed;
  font-weight: 900;
  font-size: 1.3em;
  float: right; /* if it is position:fixed, it should not be floated as well.*/
  /**background-color: #dddddd;**/
  padding: .5em 1em .5em 1em;
  /**margin-left: 50%;
  margin-right: 70%;**/
  margin: -8% 70% 90% 46.5% /* remember semi colon and avoid negative margins */
}

#timer {
  color: #000000;
  font-weight: 900;
  font-size: 1.3em;
  position: fixed;
  float: right;
  /**background-color: #dddddd;**/
  padding: .5em .78em .5em .9em;
  margin: -8% 70% 90% 54.5%;
}

#start {
  border: 1em;
}

.submit {
  display: block;
  border: 1em;
  margin-top: 1em;
}

.next {
  display: block;
  border: 1em;
  margin-top: 1em;
}

#finish{
  display: block;
  border: 1em;
  margin-top: 1em;
}

input {
  display: inline;
}
div .abc {
  display: inline-table;
}

div .right{
  display: none;
}

div .wrong{
  display: none;
}
/* you have a few selectors that only have display:none. you can dry up your code by comma separating their selectors

div .right,
div .wrong,
div .xx{
  display:none;
}

*/
